<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mid term project</title>
  <meta name="description" content="Benvenuti nel sito realizzato da fabio petrone">
  <link rel="stylesheet" href="dist/app.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
  <!-- inizio root -->
  <div id="root">
    <!--inizio loader -->
    <div class="charger" v-if="loading">
      <i class="fas fa-circle-notch"></i>
    </div>
    <!-- fine loader -->
    <div class="wrapper">

      <header>
        <div class="header-left">
          <div class="logo" @click="refreshPage">
            <img :src="srclogo" alt="logo">
          </div>
        </div>
        <div class="header-right">
          <ul>
            <li v-for="(menu,index) in menulist" @mouseenter="showDrop(index)" @mouseleave="hideDrop"><a href="">{{menu.voce}}</a>
              <div v-if="indexNav === index" class="dropdown">
                 <p v-for="item in menu.content">{{item}}</p>
              </div>
            </li>
          </ul>
          <ul>
            <li class="blue-button">Schedule a workout</li>
            <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href=""><i class="fas fa-search"></i></a></li>
          </ul>
        </div>
      </header>
      <!-- inizio jumbotron -->
      <div class="jumbotron">
        <div class="container">
          <div class="jumbotron-left">
            <h3>Certified fitness professional</h3>
            <h1>Take control of your health</h1>
            <img src="img/wave.svg" alt="wave">
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet.</p>
            <ul>
              <li class="blue-button"><i class="fab fa-youtube"></i>  Visit my YouTube channel</li>
              <li class="trasparent-button">Buy Avada today  <i class="fas fa-arrow-right"></i></li>
            </ul>
          </div>
          <div class="jumbotron-right">
            <div class="jumbotron-right-play"><i class="fas fa-play"></i></div>
          </div>
        </div>
      </div>
      <!-- fine jumbotron -->
      <!-- inizio main -->
      <div class="main">
        <!-- inizio main top -->
        <div class="main-top">
          <div class="container">
            <div v-for="service in services" :style="{'background-image' : 'linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url(\'' + service.photo + '\')'}" class="boxImg">
                <img src="img/wave.svg" alt="wave">
                <h5>{{service.title}}</h5>
                <span>{{service.description}}</span>
            </div>
          </div>
          <div class="main-top-description">
            <h2>“How you respond to the challenge in the second half will determine what you become after the game, whether you are a winner or a loser.”</h2>
            <img src="img/wave.svg" alt="wave">
            <ul>
              <li><img src="img/avatar.jpg" alt="Brad Johnson"></li>
              <li>Brad Johnson</li>
              <li>Las Vegas</li>
            </ul>
          </div>
        </div>
        <!-- fine main top -->
        <!-- inizio main-center -->
        <div class="main-center">
            <div class="main-center-left">
              <img src="img/box.jpg" alt="box">
              <div class="main-center-left-play"><i class="fas fa-play"></i></div>
            </div>
            <div class="main-center-right">
              <p>Tune up your workouts</p>
              <h2>The best health & fitness advice online</h2>
              <div class="youtube">
                <img src="img/unnamed.jpg">
                <div class="youtube-right">
                  <p>ThemeFusion</p>
                  <div class="left">
                    <span><i class="fab fa-youtube"></i></span>
                    <span>YouTube</span>
                  </div>
                </div>
              </div>
              <p>Arcu eu facilisi ut quisque placerat nunc habitant. Magna semper mauris, venenatis, leo integer sit pellentesque.</p>
              <div class="red-button">
                <span><i class="fab fa-youtube"></i></span>
                <span>Visit my YouTube channel</span>
              </div>
            </div>
        </div>
        <!-- fine main-center -->
        <!-- inizio main-bottom -->
        <div class="main-bottom">
          <div class="container">
            <div>
              <p>Featured playlists</p>
              <p>View all videos <i class="fas fa-angle-right"></i></p>
            </div>
            <div class="videos">
              <div class="video" v-for="video in videosData">
                <div class="photo"><div class="play"><i class="fas fa-play"></i></div>
                <img :src="video.photo" alt="thumbnail video">
              </div>
                <h5>{{video.title}}</h5>
                <p>{{video.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- fine main-bottom -->
      </div>
      <div class="second-jumbotron">
        <div class="container">
          <div class="jumbotron-content">
            <h3>Join our mailing list today</h3>
            <h2>Insider offers & flash sales in your inbox every week.</h2>
            <img src="img/wave.svg" alt="wave-line">
            <ul>
              <li><input type="email" name="mail" placeholder="Insert your email...*"></li>
              <li class="blue-button">Subscribe</li>
            </ul>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet, consectetur adipiscing elit sed porttitor lectus.</p>
          </div>
        </div>
      </div>
      <div class="products">
        <div class="container">
          <div class="product" v-for="product in products">
            <i :class="product.icon"></i>
            <h4>{{product.offer}}</h4>
            <h5>{{product.subtitle}}</h5>
            <p>{{product.description}}</p>
            <p>{{product.link}} <i class="fas fa-angle-right"></i></p>
          </div>
        </div>
      </div>
      <div class="latest-articles">
        <div class="container">
          <div>
            <p>Latest articles</p>
            <p>Read all articles <i class="fas fa-angle-right"></i></p>
          </div>
          <div class="articles">
            <div class="article" v-for="article in articles">
              <div class="image"  :style="{ 'background-image' : 'url(\'' + article.photo + '\')' }">
                <div class="layover">

                </div>
              <!-- <img :src="article.photo" alt="foto articolo"> -->
               </div>
              <h5>{{article.title}}</h5>
              <ul>
                <li>By <span>{{article.author}}</span> |</li>
                <li> {{article.date}} </li>
                <li> | <span>{{article.category}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="third-jumbotron">
            <h1>“I’ve failed over and over again in my life. And that is why I succeed.”</h1>
            <img src="img/wave.svg" alt="wave">
            <p>
            Arcu auctor gravida nisl, congue sit nisi tincidunt eget proin. In lacinia lacus donec sed massa in ipsum eros, tristique. Gravida suspendisse etiam in iaculis
          </p>
              <a class="blue-button" href="#">Buy Avada Today <i class="fas fa-angle-right"></i></a>
          </div>
          <div class="offers">
            <div class="container">
              <div class="offer" v-for="offer in offers">
                <img :src="offer.logo" alt="logo offerta">
                <img src="img/wave.svg" alt="wave">
                <p>{{offer.description}}</p>
                <p><a href="">{{offer.link}}</a><i class="fas fa-angle-right"></i></p>
              </div>
            </div>
          </div>
          <div class="final-jumbotron">
             <div class="play"><i class="fas fa-play"></i></div>
                <h1>Crossfit workout of the day</h1>
                <h2>November 15th, 2019</h2>
                  <a href="#">View all videos →</a>
              </div>
              <footer>
                <div class="container">
                  <div class="footer-top">
                    <div class="brand-section">
                       <img :src="srclogo" alt="Avada logo">
                       <p>Ac aliquam neque sagittis diam faucibus vitae purus turpis phasellus. Pellentesque consectetur amet purus ultrices mauris.</p>
                     <ul class="socialNetworks">
                       <li v-for="(social,index) in socialIcons"><i :class="social.icon" @mouseenter="showNameSocial(index)" @mouseleave="hideNameSocial"></i>
                        <div v-if="indexSocial === index" class="dropdown fade">
                         {{social.name}}
                        </div>
                       </li>
                     </ul>
                    </div>
                    <div class="recent-posts">
                     <h6>Recent posts</h6>
                      <ul>
                        <li v-for="post in posts"><i class="fas fa-angle-right"></i>{{post}}</li>
                      </ul>
                    </div>
                    <div class="contact-informations">
                      <h6>Contact Informations</h6>
                      <ul>
                         <li>{{contacts.address}}</li>
                        <li>Mobile: {{contacts.mobile}}</li>
                        <li>Email: {{contacts.email}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-bottom">
                    <ul>
                      <li v-html="copy" v-for="copy in rights">{{copy}}</li>
                    </ul>
                  </div>
                </div>
              </footer>
              <div class="popup">
              <div v-for="(popup,ind) in popups" class="Demos" @mouseenter="animationIn(ind)" @mouseleave="animationOut(ind)">
             <i :class="[popup.icon,popup.fade]"></i>
              <p>{{popup.name}}</p>
              </div>
              <!-- <div class="Buy Now"  @mouseenter="animationIn2" @mouseleave="animationOut2">
              <i :class="fade2" class="fas fa-shopping-cart"></i>
              <p>Buy Now</p>
              </div> -->
              </div>
  <!-- chiusura wrapper -->
    </div>
<!-- chiusura root -->
  </div>
  <!-- fine root -->
  <script src="action.js"></script>
</body>
</html>
