footer{
  background-color:$colorCodGray;
  .container {
    @include widthContainer;
    color:white;
    .footer-top {
      @include flex;
      width:$full_width;
      height: 500px;
      padding-top:$padding_unit * 5;
      justify-content: center;
      div{
        @include flex;
        width:$full_width / 3;
        flex-direction:  column;
        align-items:center;
        text-align: center;

      }
      .brand-section{
        p {
          padding-top: $padding_unit * 2;
          font-size: $font_size / 0.9;
          text-align: center;
          color: $primary_textcolor;
          opacity:0.8;
        }
        .socialNetworks {
          @include listInline;
          padding-top: $padding_unit * 2;
          cursor:pointer;
          li {
            position:relative;
            padding: $padding_unit / 2;
            color: $colorOrange;
            .dropdown{
              left:$full_width / 2;
              transform: translate(- $full_width / 2,0);
              color:$primary_textcolor;
              width:max-content;
              padding:$padding_unit / 5;
              border-radius:2px;
              background-color:#505050;
              font-size: $font_size / 1.64 ;
              position:absolute;
              top:-13px;
            }
          }
        }
      }

      .recent-posts {
        width: 370px;
        color: $primary_textcolor;
        h6 {
          font-size: $font_size / 0.75;
          font-weight: $font_weight_title / 0.6;
          text-transform: uppercase;
        }
        ul {
          text-align: center;
          li {cursor:pointer;
            font-size: $font_size / 0.9;
            padding-top: $padding_unit * 1.6;
          }
          li:hover {
            color: $colorOrange;
          }
        }
      }
      .contact-informations {
        width: 370px;
        color: $primary_textcolor;
        h6 {
          font-size: $font_size / 0.75;
          font-weight: $font_weight_title / 0.6;
          text-transform: uppercase;
        }
        ul {
          text-align: center;
          li {
            font-size: $font_size / 0.9;
            &:first-child {
              margin: $margin_unit * 2 0;
              opacity:0.8;
            }
          }
        }
      }
    }


  }
  .footer-bottom {
    height: 100px;
    border-top: 1px solid $colorSilver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ul {
      @include listInline;
      color: $colorSilver;
      span {
        cursor:pointer;
        color: $primary_textcolor;
        &:hover {
          color: $colorOrange;
        }
      }
      li{position:relative;
        padding:0 $padding_unit / 5;}
        li:after{
          content:'|';
          padding:0 $padding_unit / 5;
          position:absolute;
        }
        li:last-child:after{
          content:'';
        }
      }
    }
  }
