
footer{
    background-color:$colorGrey;
  .container {
    @include widthContainer;
  color:white;
  .footer-top {
    width:100%;
      height: 500px;
   padding-top:140px;
  @include flex;
  justify-content: center;
  div{
    @include flex;
    width:33%;
    flex-direction:  column;
    align-items:center;
    text-align: center;

  }
  .brand-section{
          p {
            padding-top: 40px;
            font-size: 20px;
            text-align: center;
            color: $primary_textcolor;
            opacity:0.8;
          }
          .socialNetworks {
            @include listInline;
            padding-top: 40px;
            cursor:pointer;
            li {
              position:relative;
              padding: 10px;
              color: $colorOrange;
              .dropdown{
                left:50%;
                transform: translate(-50%,0);
                color:$primary_textcolor;
                width:max-content;
                padding:4px;
                border-radius:2px;
                background-color:#505050;
                font-size: 11px;
                position:absolute;
                top:-13px;
              }
            }
          }
        }

            .recent-posts {
              width: 370px;
              color: $primary_textcolor;
              h6 {
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
              }
              ul {
                text-align: center;
                li {cursor:pointer;
                    font-size: 20px;
                    padding-top: 32px;
                }
                li:hover {
                  color: $colorOrange;
                }
              }
            }
            .contact-informations {
              width: 370px;
              color: $primary_textcolor;
              h6 {
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
              }
              ul {
                text-align: center;
                li {
                    font-size: 20px;
                    &:first-child {
                      margin: 30px 0;
                      opacity:0.8;
                    }
                }
              }
            }
          }


  }
  .footer-bottom {
    height: 100px;
    border-top: 1px solid $colorSilver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ul {
      @include listInline;
      color: $colorSilver;
      span {
        cursor:pointer;
        color: $primary_textcolor;
        &:hover {
          color: $colorOrange;
        }
      }
    }
  }
}
