// inizio header
  header {
    position:fixed;
    top:0;
    z-index: 1;
    height: 100px;
    width: $full_width;
    padding:$padding_unit / 2;
    background-color: $colorCodGray;
  @include flex;
    justify-content: space-between;
    align-items: center;

  .header-left {
    img {
      margin-left: $margin_unit / 0.75;
      cursor:pointer;
    }
  }

  .header-right {
 @include flex;
    ul:first-child {
      padding-top: $padding_unit * 0.55;
      li{ position:relative;
        .dropdown{
          width:max-content;
          background-color: $colorCodGray;
          opacity:0.9;
          position:absolute;
          top:40px;
          color: $primary_textcolor;
          li{
            padding:$padding_unit / 2 $padding_unit * 0.75;
            &:hover{
             background-color: #78787a;
            }
          }
        }
      }
      >li:last-child:after{
               content:'new';
               border-radius: 3px;
               padding: $padding_unit / 4 $padding_unit * 0.35;
               margin-left: $margin_unit / 1.5;
               font-size: $font_size / 1.5;
               font-weight: $font_weight_title / 0.6;
               color: $colorCodGray;
               background-color: $colorYellow;

          }
    }
    >ul {
      @include listInline;
      >li {
        cursor:pointer;
        margin: $margin_unit / 0.75;
        a {
          text-decoration: none;
          color: $colorSilver;
          font-weight: $font_weight_title / 0.6;
          &:hover{
            color: $primary_textcolor;
          }
        }
        &:first-child a {
        color: $primary_textcolor;
        }
      }
    }
    .blue-button {
      @include blueBtn;
      font-size: $font_size * 0.78;
    }
  }
}
