// inizio jumbotron
.jumbotron {
  margin-top:100px;
  height: 630px;
  width: 100%;
  background-color: $colorGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/slider82x-scaled.jpg");
  background-position: top right ;
  background-size: cover;
  .container{
    position:relative;
    @include widthContainer;
    @include flex;
  }

&-left {
  width:70%;
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-top: 30px;
    li {
      font-size: 18px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .blue-button {
      @include blueBtn;
      padding:18px 26px;
      font-size: 18px;
    }
    .trasparent-button {
      @include trasparentBtn;
    }
    i {
      vertical-align: middle;
    }
  }
}
&-right {
  width: 30%;
  padding-top:100px;
  @include flex;
  justify-content: center;
  align-items: center;
  &-play {
    @include playCircle;
    @include flex;
    justify-content: center;
    align-items: center;
    i {
      color:$colorBlue;
    }
    &:hover i {
      color: $colorOrange;
    }
  }
}
}


.second-jumbotron {
  height: 660px;
  width: 100%;
  background-color: $colorGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/banner1-2x.jpg");
  background-position: top right ;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
    @include widthContainer;
    @include flex;
  }
}

.jumbotron-content {
  padding-right: 30%;
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h2 {
    font-size: 58px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-bottom: 30px;
    li {
      font-size: 18px;
    }
    .blue-button {
      @include blueBtn;
      text-align: center;
      width: 230px;
      margin-top: 40px;
      font-size: 18px;
    }
    input {
      padding: 15px 340px 15px 30px;
      border-radius: 40px;
      margin-right: 15px;
    }
  }
}

.third-jumbotron {
  @include flex;
  height: 730px;
  padding: 0 300px;
  background-image: linear-gradient(180deg, rgba(0,2,17,0.16) 0%,$primary_bgcolor 100%),url("../img/banner2-2x.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 60px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 23px;
    font-weight: 400;
    color: $primary_textcolor;
  }
  .blue-button {
    @include blueBtn;
    font-size: 14px;
    width: 230px;
    margin-top: 40px;
    font-size: 18px;
  }
}

.final-jumbotron{
  height:530px;
  background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
background-image: linear-gradient(151deg,rgba(6, 25, 231, 0.4) 35%, rgba(206,1, 18, 0.4) 100%), url('../img/banner14-2x.jpg');
>div{
  @include flex;
  position:relative;
  width:$full_width;
  height:$full_height;
flex-direction: column;
align-items:center;
justify-content:center;
.play{
  @include playCircle;
  @include flex;
  justify-content: center;
  align-items: center;
  i {
    color:$colorBlue;
  }
  &:hover i {
    color: $colorOrange;
  }
}
h1{
  padding:20px 0;
}
h1,a{
  color:$primary_textcolor;
}
h2{
  color:$colorYellow;
}
}
}
