// inizio jumbotron
.jumbotron {
  // margin-top:$margin_unit / 0.15;
  height: 600px;
  width: $full_width;
  background-image: linear-gradient(90deg, $primary_bgcolor 45%,rgba(6,6,6,0) 75%),  url($jumbotron1_image);
  background-size: cover;
  .container{
    @include widthContainer;
    @include flex;
    position:relative;
  }

  &-left {
    width:$full_width * 0.7;
    h3 {
      padding-top:$padding_unit * 5;
      font-size: $font_size * 1.5;
      font-weight: $font_weight_title / 0.6;
      color: $btn_base_hoverColor;
    }
    h1 {
      font-size: $font_size / 0.24;
      font-weight: $font_weight_title / 0.6;
      color: $primary_textcolor;
    }
    // img {
    //   width: 85px;
    // }

    .decoration{
      width:85px;
      height:85px;
      @include icon-divider($details_color);
      background-size: cover;
    }
    p {
      font-size: $font_size / 0.72;
      font-weight: $font_weight_title / 0.75;
      color: $secondary_textcolor;
    }
    ul {
      @include listInline;
      margin-top: $margin_unit * 2;
      li {
        font-size: $font_size;
        &:nth-child(2) {
          margin-left: $margin_unit / 1.5;
        }
      }
      .VisitmyChannel-button {
        @include blueBtn;
        padding:$padding_unit * 0.9 $padding_unit * 1.3;
        font-size: $font_size;
      }
      .BuyAvada-button {
        @include trasparentBtn;
      }
      i {
        vertical-align: middle;
      }
    }
  }
  &-right {
    @include flexCenter;
    width: $full_width * 0.3;
    padding-top:$padding_unit * 5;
    &-play {
      @include playCircle;
      @include flexCenter;
      i {
        color:$btn_base_color;
      }
      &:hover i {
        color: $btn_base_hoverColor;
      }
    }
  }
}

.second-jumbotron {
  height: 660px;
  width: $full_width;
  background-color: $primary_bgcolor;
  background-image: linear-gradient(90deg, $primary_bgcolor 45%,rgba(6,6,6,0) 75%),  url($jumbotron2_image);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  .container{
    @include widthContainer;
    @include flex;
  }
}

.jumbotron-content {
  padding-right: $full_width * 0.3;
  h3 {
    padding-top:$padding_unit * 5;
    font-size: $font_size * 1.5;
    font-weight: $font_weight_title / 0.6;
    color: $btn_base_hoverColor;
  }
  h2 {
    font-size: $font_size * 3.22;
    font-weight: $font_weight_title / 0.6;
    color: $primary_textcolor;
  }
  .decoration{
    width:85px;
    height:85px;
    // background-image: url($icon_separator);
    @include icon-divider($details_color);
    background-size:cover;
  }
  p {
    font-size: $font_size / 0.72;
    font-weight: $font_weight_title / 0.75;
    color: $secondary_textcolor;
  }
  ul {
    @include listInline;
    margin-bottom: $margin_unit * 2;
    li {
      font-size: $font_size;
    }
    .form-button {
      @include blueBtn;
      text-align: center;
      width: 230px;
      margin-top: $margin_unit * 2.67;
      font-size: $font_size;
    }
    input {
      padding: $padding_unit * 0.75 $padding_unit * 17 $padding_unit * 0.75 $padding_unit * 1.5;
      border-radius: 40px;
      margin-right: $margin_unit;
    }
  }
}

.third-jumbotron {
  >div{
    @include flexCenter;
    width:$full_width;
    height:$full_height;
    flex-direction: column;
    text-align: center;}
    height: 730px;
    padding: 0 $padding_unit * 15;
    background-image: linear-gradient(180deg, rgba(0,2,17,0.16) 0%,$primary_bgcolor 100%),url($jumbotron3_image);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      font-size: $font_size / 0.3;
      font-weight: $font_weight_title / 0.6;
      color: $primary_textcolor;
    }
    // img {
    //   width: 85px;
    // }
    .decoration{
      width:85px;
      height:85px;
      @include icon-divider($details_color);
      background-size:cover;
    }
    p {
      font-size: $font_size * 1.28;
      font-weight: $font_weight_title / 0.75;
      color: $primary_textcolor;
    }
    .BuyAvada-button {
      @include blueBtn;
      width: 230px;
      margin-top: $margin_unit * 2;
      font-size: $font_size;
    }
  }

  .final-jumbotron{
    height:680px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(151deg,rgba(6, 25, 231, 0.8) 35%, rgba(206,1, 18, 0.8) 100%), url($jumbotron4_image);
    background-color: rgba(255,255,255,0);
    background-blend-mode: multiply;
    >div{
      @include flexCenter;
      position:relative;
      width:$full_width;
      height:$full_height;
      flex-direction: column;
      .play{
        @include playCircle;
        @include flexCenter;
        i {
          color:$btn_base_color;
        }
        &:hover i {
          color: $btn_base_hoverColor;
        }
      }
      h1{font-size: $font_size * 3.2;
      font-weight: $font_weight_title / 0.6;}
      h1,a{
        padding:$padding_unit 0;
        color:$primary_textcolor;
      }
      h2{font-size: $font_size * 2.5;
        font-weight: $font_weight_title / 0.6;
        color:$details_color;
      }
    }
  }
