.main{
  &-top{
    height: 980px;
    width: $full_width;
    background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
    .container{
      @include widthContainer;
      @include flex;
      justify-content:space-between;
      position:relative;
      .boxImg{
        @include flex;
        width: 350px;
        border-radius: 4px 4px 40px 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        padding-left: $padding_unit * 1.5;
        flex-direction: column;
        justify-content: flex-end;
        transform: translateY(-25%);
        transition: 0.4s;
        &:hover {
          transform: scale(1.1) translateY(-25%);
        }
        // img {
        //   width: 50px;
        //   filter: grayscale(100%);
        // }
        .decoration{
          @include icon-divider($primary_textcolor);
          width:50px;
          height:50px;
          // filter: grayscale(100%);
          // background-image: url($icon_separator);
          background-size:cover;
        }
        h5 {
          font-size: $font_size * 1.95;
          font-weight: $font_weight_title / 0.6;
          color: $primary_textcolor;
        }
        span {
          font-size: $font_size / 0.72;
          font-weight: $font_weight_title / 0.6;
          color: $colorYellow;
          margin-bottom: $margin_unit * 3;
        }
      }
    }
    &-description {
      @include flex;
      margin: 0 $margin_unit * 12.67;
      flex-direction: column;
      align-items: center;
      h2 {
        padding-top: $padding_unit * 3;
        font-size:$font_size / 0.375;
        font-weight: $font_weight_title / 0.6;
        color: $primary_textcolor;
        text-align: center;
        line-height: 1.4;
      }
      // img {
      //   width: 85px;
      // }
      .decoration{
        @include icon-divider($colorYellow);
        width:85px;
        height:85px;
        background-size:cover;
      }
      ul {
        @include listInline;
        li {
          padding:0 $padding_unit / 2;
          font-size: $font_size / 0.82;
          color: $primary_textcolor;
          &:first-child {
            img {
              width: 70px;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
          &:last-child {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &-center {
    @include flex;
    height: 700px;
    background-color: $primary_textcolor;
    &-left {
      background-image:url($main_center_image);
      background-position: center;
      background-size: cover;
      height: 770px;
      width: 660px;
      top:-50px;
      // transform: translateY(-8%);
      position: relative;
      border-radius: 4px 4px 40px 4px;

      &-play {
        @include playCircle;
        @include centered;
        @include flexCenter;
        i {
          color:$colorBlue;
        }
        &:hover i {
          color: $colorOrange;
        }
      }
    }
    &-right {
      position:relative;
      height: $full_height;
      width: $full_width / 2;
      padding: $padding_unit * 5 $padding_unit * 2.5 $padding_unit * 5 $padding_unit * 5 ;
      p:first-child {
        font-size: $font_size * 1.56;
        color: $colorBlue;
        font-weight: $font_weight_title / 0.6;
        margin-bottom: $margin_unit * 2;
      }
      h2 {
        font-size: $font_size / 0.3;
        font-weight: $font_weight_title / 0.6;
      }
      .youtube {
        @include flex;
        padding: $padding_unit * 1.5 0;
        img {
          height: 50px;
          padding-right: $padding_unit / 2;
        }
        p {
          font-size: $font_size * 0.72;
          color: $colorCodGray;
          margin: 0;
        }
        .subscribe{
          cursor:pointer;
          @include flex;
          width:120px;
          height:26px;
          color: $primary_textcolor;
          >div{
            @include flexCenter;
            position:relative;
            width:$full_width * 0.75;
            background-color: $colorGreen;
            &:hover{
           background-color:darken($colorGreen, 20%);
            }
            .dropdown:hover .dropdown-content{
              @include flex;
            }
            .dropdown-content{
              box-shadow:2px $colorSilver;
              text-align: center;
              position:absolute;
              top:32px;
              left:0;
              display:none;
              align-items:center;
              background-color:$primary_textcolor;
              border:1px solid $colorSilver;
              width:270px;
              height:60px;
              &:after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                z-index: 1;
                border-style: solid;
                border-color: #ffffff transparent;
                border-width: 0 11px 9px;
                top: -9px;
                left: 18%;
                margin-left: - $margin_unit * 0.73;
              }
              &:before {
                content: '';
                position: absolute;
                width: 0;
                z-index: 0;
                border-style: solid;
                border-color: $colorSilver transparent;
                border-width: 0 12px 10px;
                top: -10.5px;
                left: 18%;
                margin-left: - $margin_unit * 0.8;
                display: block;
              }
              span:first-child{
                font-size: $font_size / 0.72;
                background-color:#4321aa;
                line-height: 40px;
                // width:16%;
                // margin:2% 2%;
                // height:auto;
                margin-left:$margin_unit / 3;
                width:40px;
                height:40px;
              }
              span:nth-child(2){
                width:$full_width * 0.8;
                color:$colorCodGray;
              }
            }
          }
          >span:nth-child(2){
            @include flexCenter;
            width: $full_width / 4;
            color: $colorCodGray;
            border:1px solid $colorSilver;
            border-radius: 0 3px 3px 0;
            font-size: $font_size / 1.5;
          }
        }
      }
      p {
        font-size: $font_size * 1.28;
        color: $colorSilver;
      }
      .yt-button {
        @include greenBtn;
        width: 320px;
        font-size: $font_size;
        text-align: center;
        margin-top: $margin_unit * 2.67;
        i {
          padding-left: $padding_unit / 2;
        }
      }

    }
  }
  // chiude main center
  .main-bottom {
    height: 600px;
    .container {
      @include widthContainer;
      padding-top: $padding_unit * 4.5;
      padding-bottom: $padding_unit * 4.5;
      div {
        @include flex;
        justify-content: space-between;
        font-size: $font_size * 1.5;
          font-weight: $font_weight_title / 0.6;
        p:last-child {
          padding-right: $padding_unit * 0.75;
          font-size: $font_size;
          cursor: pointer;
          i {
            vertical-align: middle;
          }
          &:hover {
            color: $colorBlue;
          }
        }
      }
      .videos{
        @include flex;
        position:relative;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        .video {
          @include flex;
          align-items:center;
          flex-direction: column;
          width: $full_width / 3;
          .photo {
            position:relative;
            .play{
              @include centered;
              @include flexCenter;
              height: 50px;
              width: 50px;
              border-radius: $full_width / 2;
              background-color: $primary_textcolor;
              i {
                font-size:$font_size /2;
                color:$colorBlue;
              }
              &:hover i {
                color: $colorOrange;
              }
            }
            img {
              height: auto;
              width: 400px;
              margin-top: $margin_unit * 1.67;
              border-radius: 4px 4px 40px 4px;
            }
          }
          h5 {
            font-size: $font_size * 1.56;
            font-weight: $font_weight_title / 0.6;
            padding: $padding_unit * 1.5 0 $padding_unit / 2;
            text-align: center;
          }
          p {
            font-size: $font_size / 0.9;
            text-align: center;
            color: $colorBlue;
          }
        }
      }
    }
  }

}
