.main{
  &-top{
    height: 980px;
    width: $full_width;
    background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
    .container{
      @include widthContainer;
      @include flex;
      justify-content:space-between;
      position:relative;
      .boxImg{
        @include flex;
        width: 350px;
        border-radius: 4px 4px 40px 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        padding-left: 30px;
        flex-direction: column;
        justify-content: flex-end;
        transform: translateY(-15%);
        transition: 0.4s;
        &:hover {
          transform: scale(1.1) translateY(-15%);
        }
        img {
          width: 50px;
          filter: grayscale(100%);
        }
        h5 {
          font-size: 35px;
          font-weight: 500;
          color: $primary_textcolor;
        }
        span {
          font-size: 25px;
          font-weight: 500;
          color: $colorYellow;
          margin-bottom: 45px;
        }
      }
    }
    &-description {
      @include flex;
      margin: 0 190px;
      flex-direction: column;
      align-items: center;
      h2 {
        padding-top: 60px;
        font-size: 48px;
        font-weight: 500;
        color: $primary_textcolor;
        text-align: center;
        line-height: 1.4;
      }
      img {
        width: 85px;
      }
      ul {
        @include listInline;
        li {
          padding:0 10px;
          font-size: 22px;
          color: $primary_textcolor;
          &:first-child {
            img {
              width: 70px;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
          &:last-child {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &-center {
    @include flex;
    height: 700px;
    background-color: $primary_textcolor;
    &-left {
      background-image:url('../img/box.jpg');
      background-position: center;
      background-size: cover;
      height: 770px;
      width: 660px;
      transform: translateY(-8%);
      position: relative;
      border-radius: 4px 4px 40px 4px;

      &-play {
        @include playCircle;
        @include centered;
        @include flex;
        justify-content: center;
        align-items: center;
        i {
          color:$colorBlue;
        }
        &:hover i {
          color: $colorOrange;
        }
      }
    }
    &-right {
      position:relative;
      height: 100%;
      width: 50%;
      padding: 100px 50px 100px  100px;
      p:first-child {
        font-size: 28px;
        color: $colorBlue;
        font-weight: 500;
        margin-bottom: 40px;
      }
      h2 {
        font-size: 60px;
        font-weight: 500;
      }
      .youtube {
        @include flex;
        padding: 30px 0;
        img {
          height: 50px;
          padding-right: 10px;
        }
        p {
          font-size: 13px;
          color: $primary_bgcolor;
          margin: 0;
        }
        .subscribe{
          cursor:pointer;
          @include flex;
          width:120px;
          height:26px;
          color: $primary_textcolor;
          >div{
            @include flex;
            position:relative;
            justify-content:center;
            align-items:center;
            width:75%;
            background-color: $colorRed;
            &:hover{
            background-color: #a51b0b;
            }
            .dropdown:hover .dropdown-content{
              @include flex;
            }
            .dropdown-content{
              box-shadow:2px $colorSilver;
              text-align: center;
              position:absolute;
              top:32px;
              left:0;
              display:none;
              align-items:center;
              background-color:$primary_textcolor;
              border:1px solid $colorSilver;
              width:270px;
              height:60px;
              &:after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                z-index: 1;
                border-style: solid;
                border-color: #ffffff transparent;
                border-width: 0 11px 9px;
                top: -9px;
                left: 18%;
                margin-left: -11px;
              }
              &:before {
                content: '';
                position: absolute;
                width: 0;
                z-index: 0;
                border-style: solid;
                border-color: $colorSilver transparent;
                border-width: 0 12px 10px;
                top: -10.5px;
                left: 18%;
                margin-left: -12px;
                display: block;
              }
              span:first-child{
                font-size: 25px;
                background-color:#4321aa;
                line-height: 40px;
                margin-left:5px;
                width:40px;
                height:40px;
              }
              span:nth-child(2){
                width:80%;
                color:$primary_bgcolor;
              }
            }
          }
          >span:nth-child(2){
            @include flex;
            justify-content:center;
            align-items:center;
            width:25%;
            color: $primary_bgcolor;
            border:1px solid $colorSilver;
            border-radius: 0 3px 3px 0;
            font-size: 12px;
          }
        }
      }
      p {
        font-size: 23px;
        color: $colorSilver;
      }
      .red-button {
        @include redBtn;
        width: 320px;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        i {
          padding-left: 10px;
        }
      }

    }
  }
  // chiude main center
  .main-bottom {
    height: 600px;
    .container {
      @include widthContainer;
      padding-top: 90px;
      padding-bottom: 90px;
      div {
        @include flex;
        justify-content: space-between;
        font-size: 27px;
        font-weight: 500;
        p:last-child {
          padding-right: 15px;
          font-size: 18px;
          cursor: pointer;
          i {
            vertical-align: middle;
          }
          &:hover {
            color: $colorBlue;
          }
        }
      }
      .videos{
        @include flex;
        position:relative;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        .video {
          @include flex;
          flex-direction: column;
          width: 380px;
          .photo {
            position:relative;
            .play{
              @include centered;
              @include flex;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              background-color: $primary_textcolor;
              justify-content: center;
              align-items: center;
              i {
                font-size:$font_size /2;
                color:$colorBlue;
              }
              &:hover i {
                color: $colorOrange;
              }
            }
            img {
              height: 230px;
              width: 360px;
              margin-top: 25px;
              border-radius: 4px 4px 40px 4px;
            }
          }
          h5 {
            font-size: 28px;
            font-weight: 500;
            padding: 25px 0 10px;
            text-align: center;
          }
          p {
            font-size: 20px;
            text-align: center;
            color: $colorBlue;
          }
        }
      }
    }
  }

}
