@mixin flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}

@mixin centered{
position:absolute;
top:50%;
left:50%;
transform: translate(-50% , -50%);
}

@mixin rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

@-webkit-keyframes rotate {
 0% {
   transform: translate(-50%, -50%) rotate(0);
 }
 100% {
   transform: translate(-50%, -50%) rotate(360deg);
 }
}

@keyframes rotate {
 0% {
   transform: translate(-50%, -50%) rotate(0);
 }
 100% {
   transform: translate(-50%, -50%) rotate(360deg);
 }
}
}
@mixin listInline {
  display: flex;
  list-style: none;
  align-items: baseline;
}
@mixin widthContainer {
  padding: 0 90px;
}

@mixin Btn {
  padding:15px 30px;
  border-radius: 40px;
  color: $colorWhite;
  cursor: pointer;
}
@mixin blueBtn {
  @include Btn;
  background-color: $colorViolet;
  font-weight: 500;
  &:hover {
    background-color: $colorOrange;
  }
}
@mixin trasparentBtn {
  @include Btn;
  border: 2px solid $colorSilver;
  font-weight: 500;
  &:hover {
    background-color: $colorWhite;
    border: 2px solid $colorWhite;
    color: $colorBlack;
  }
}
