.products{
  height: 720px;
  background-color: $primary_bgcolor;
  .container {
    @include widthContainer;
    @include flex;
    height: $full_height;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    height: 540px;
    width: 360px;
    border: 4px solid $btn_base_color;
    border-radius: 8px;
    text-align: center;
    color: $primary_textcolor;
    font-weight: $font_weight_title / 0.6;
    padding: 0 $padding_unit * 2.25;
    transition: 0.4s;
    &:hover {
      padding: 0 $padding_unit * 2.75;
      height: 560px;
      width: 380px;
    }
    i{
      font-size: 50px;
      padding-top: $padding_unit * 3.75;
    }
    h4 {
      font-size: $font_size / 0.6;
      font-weight: $font_weight_title / 0.6;
      padding-top: $padding_unit * 1.75;

    }
    h5 {
      font-size: $font_size / 0.75;
      font-weight: $font_weight_title / 0.6;
      padding-top: $padding_unit * 0.75;
      color: $details_color;
    }
    p {
      font-weight: $font_weight_title / 0.75;
      line-height: 1.8;
      padding-top: $padding_unit * 1.25;
      color: $secondary_textcolor;
      &:last-child {
        @include flexCenter;
        cursor:pointer;
        font-weight: $font_weight_title / 0.6;
        color: $primary_textcolor;
        i {
          padding:$padding_unit / 2.5;
          font-size: $font_size;
        }
      }
    }
  }
}

.latest-articles {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: $padding_unit * 4.5;
    padding-bottom: $padding_unit * 4.5;
    div {
      @include flex;
      justify-content: space-between;
      font-size: $font_size * 1.5;
      font-weight: $font_weight_title / 0.6;
      p:last-child {
        @include flex;
        align-items:center;
        padding-right: $padding_unit * 0.75;
        font-size: $font_size;
        cursor: pointer;
        &:hover {
          color: $btn_base_color;
        }
        i{
          padding:$padding_unit / 5;
        }
      }
    }
    .articles{
      @include flex;
      position:relative;
      cursor:pointer;
      .article {
        @include flex;
        flex-direction: column;
        width: 380px;
        .image{
          position:relative;
          background-size: $full_width;
          background-repeat: no-repeat;
          background-position:center;
          height: 230px;
          width: 360px;
          margin-top: $margin_unit / 0.6;
          .layover{
            position:absolute;
            width:$full_width;
            height:$full_height;
            background: radial-gradient(farthest-corner at 200% 90%,#4321aa,transparent);
            opacity:0;
            transition: 1.7s;
          }
          &:hover .layover {
            opacity:$full_opacity;
          }
        }
        h5 {
          padding:$padding_unit $padding_unit / 2 $padding_unit / 2;
          font-size: $font_size * 1.56;
          font-weight: $font_weight_title / 0.6;
        }
        ul {
          @include listInline;
          padding:0  $padding_unit / 2;
          li {
            padding:0  $padding_unit / 2;
            &:first-child{
              padding-left:0;
            }
            cursor:text;
            color: $primary_bgcolor;
            opacity:$full_opacity * 0.7;
            font-size: $font_size;
            span{
              cursor:pointer;
              opacity:$full_opacity;
              &:hover{
                color:$btn_base_color;
              }
            }
            &:not(:last-child){position:relative;
              &:after{
                position:absolute;
                content:'|';
                padding:0 $padding_unit / 2.5;
              }

            }
          }
        }
      }
    }
  }
}

.offers {
  height: 600px;
  .container {
    @include flex;
    position:relative;
    padding-top: $padding_unit * 4.5;
    padding-bottom: $padding_unit * 4.5;
    .offer {
      position:relative;
      text-align: center;
      width:$full_width / 4;
      // img {
      //   margin:0 auto;
      //   display:block;
      //   width: 85px;
      //   filter: invert(80%);
      // }
      .decoration{
        margin:0 auto;
        width:85px;
        height:85px;
        // background-image: url($icon_separator);
        @include icon-divider($btn_base_color);
        background-size:cover;
        // filter: invert(80%);
      }
      // :first-child
      img{
        width:150px;
        height:auto;
        // filter: none;
      }
      p {
        color: $primary_bgcolor;
        opacity:$full_opacity * 0.9;
        font-size: $font_size;
        padding: 0 $padding_unit * 1.75;
        line-height: $line_height * 0.938;
      }
      p:last-child{
        @include flexCenter;
        font-weight: $font_weight_title / 0.6;
        padding-top: $padding_unit * 2.25;
        font-size: $font_size;
        color:$primary_bgcolor;
        a{
          color:$primary_bgcolor;
        }
        i{
          padding:$padding_unit / 2.5;
        }
      }
    }

  }
}
