.products{
  height: 720px;
  background-color: $colorGrey;
  .container {
    @include widthContainer;
    @include flex;
    height: $full_height;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    height: 540px;
    width: 360px;
    border: 4px solid $colorBlue;
    border-radius: 8px;
    text-align: center;
    color: $primary_textcolor;
    font-weight: 500;
    padding: 0 45px;
    transition: 0.4s;
    &:hover {
      padding: 0 55px;
      height: 560px;
      width: 380px;
    }
    i{
      font-size: 50px;
      padding-top: 75px;
    }
    h4 {
      font-size: 30px;
      font-weight: 500;
      padding-top: 35px;

    }
    h5 {
      font-size: 24px;
      font-weight: 500;
      padding-top: 15px;
      color: $colorYellow;
    }
    p {
      font-weight: 400;
      line-height: 1.8;
      padding-top: 25px;
      color: $colorSilver;
      &:last-child {
        @include flex;
        cursor:pointer;
        align-items:center;
        justify-content: center;
        font-weight: 500;
        color: $primary_textcolor;
        i {
          padding:8px;
          font-size: 18px;
        }
      }
    }
  }
}

.latest-articles {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      @include flex;
      justify-content: space-between;
      font-size: 27px;
      font-weight: 500;
      p:last-child {
        @include flex;
        align-items:center;
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: $colorBlue;
        }
        i{
          padding:4px;
        }
      }
    }
    .articles{
      @include flex;
      cursor:pointer;
      .article {
        @include flex;
        flex-direction: column;
        width: 380px;
        .image{
          position:relative;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position:center;
         height: 230px;
          width: 360px;
        margin-top: 25px;
       .layover{
         position:absolute;
         width:100%;
         height:100%;
         background: radial-gradient(farthest-corner at 200% 90%,darkblue,transparent);
         opacity:0;
         transition: 1.7s;
       }
       &:hover .layover {
         opacity:1;
       }
    }
        h5 {
          padding:20px 10px 10px;
          font-size: 28px;
          font-weight: 500;
        }
        ul {
          @include listInline;
          padding:0 10px;
          li {
            padding:0 10px;
            &:first-child{
              padding-left:0;
            }
            cursor:text;
            color: $primary_bgcolor;
            opacity:0.7;
            font-size: 18px;
            span{
              cursor:pointer;
              opacity:1;
              &:hover{
                color:$colorBlue;
              }
            }
            &:not(:last-child){position:relative;
            &:after{
            position:absolute;
            content:'|';
            padding:0 8px;
          }

          }
          }
        }
      }
    }
  }
}

.offers {
  height: 600px;
  .container {
    @include flex;
    padding-top: 90px;
    padding-bottom: 90px;
    .offer {
      position:relative;
      text-align: center;
      width:25%;
      img {
        margin:0 auto;
        display:block;
        width: 85px;
        filter: invert(80%);
      }
      img:first-child{
        width:150px;
        height:auto;
        filter: none;
      }
      p {
        color: gray;
        font-size: 18px;
        padding: 0 35px;
        line-height: 1.5;
      }
      p:last-child{
        @include flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding-top: 45px;
        font-size: 18px;
        color:$primary_bgcolor;
        a{
        color:$primary_bgcolor;
        }
        i{
          padding:8px;
        }
      }
    }

}
}
