// colors
$primary_color:#000;
$secondary_color:#0096FF;
$tertiary_color:	#B8B8B8;
$primary_textcolor:#fff;
$detailscolor:#CC00B2;
$colorCodGrey: #060606;
$colorWhite: #ffffff;
$colorSilver: #bcbcbc;
$colorYellow: #FFF941;
$colorViolet:#4154FF;
$colorOrange: #ec5a57;
$colorBlack: #000000;
$colorRed: #CF000F;

// font
$font_family:'Barlow Semi Condensed', sans-serif;
$font_size: 18px;
$font_weight_title: 300;
// $line_height: 1.5;

// dimensions

$full_width: 100%;
$full_height:100%;
$margin_unit: 15px;
$padding_unit: 20px;
