// colors

$primary_textcolor:#fff;
$colorCodGray: #060606;
$colorSilver: #bcbcbc;
$colorYellow: #FFF941;
$colorBlue:#4154FE;
$colorOrange: #ec5a57;
$colorRed: #bc0428;

// font

$font_family:'Barlow Semi Condensed', sans-serif;
$font_size: 18px;
$font_weight_title: 300;

// dimensions

$full_width: 100%;
$full_height:100%;
$margin_unit: 15px;
$padding_unit: 20px;

// img divider

$icon_separator: '../img/wave.svg' ;

// img

$jumbotron1_image: "../img/slider82x-scaled.jpg" ;
$jumbotron2_image:"../img/banner1-2x.jpg";
$jumbotron3_image:"../img/banner2-2x.jpg";
$jumbotron4_image:'../img/banner14-2x.jpg';

$main_center_image:'../img/box.jpg';
