// colors
$primary_bgcolor: #000000;
$primary_textcolor:#fff;
$colorGrey: #060606;
$colorSilver: #bcbcbc;
$colorYellow: #FFF941;
$colorBlue:#4154FF;
$colorOrange: #ec5a57;
$colorRed: #CF000F;

// font
$font_family:'Barlow Semi Condensed', sans-serif;
$font_size: 18px;
$font_weight_title: 300;
// $line_height: 1.5;

// dimensions

$full_width: 100%;
$full_height:100%;
$margin_unit: 15px;
$padding_unit: 20px;
