@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
}

ul li {
  list-style: none;
}
body {
  font-family:$font_family;
  font-size: $font_size;
}
.charger{
  position:absolute;
  z-index:3;
  width:$full_width;
  height:$full_height;
  background-color: $primary_bgcolor;

  i {
  position:absolute;
  color:$primary_textcolor;
  font-size: $font_size * 8;
  z-index:4;

@include centered;
@include rotate;
}
}

.wrapper{
  width:$full_width;
  height:$full_height;
  max-width:100vw;

// inizio header
  header {
    height: 100px;
    width: 100%;
    padding:10px;
    background-color: $colorGrey;
  @include flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    img {
      margin-left: 20px;
    }
  }

  .header-right {
 @include flex;
    ul:first-child {
      padding-top: 11px;
    }
    ul {
      @include listInline;
      li {
        margin: 20px;
        a {
          text-decoration: none;
          color: $colorSilver;
          font-weight: 500;
          &:hover{
            color: $primary_textcolor;
          }
        }
        span {
          padding: 5px 7px;
          margin-left: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $colorGrey;
          background-color: $colorYellow;
        }
      }
    }
  }
  .blue-button {
    @include blueBtn;
    font-size: 14px;
  }
// inizio jumbotron
.jumbotron {
  height: 630px;
  width: 100%;
  background-color: $colorGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/slider82x-scaled.jpg");
  background-position: top right ;
  background-size: cover;
  .container{
    @include widthContainer;
    @include flex;
  }

&-left {
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-top: 30px;
    li {
      font-size: 18px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .trasparent-button {
      @include trasparentBtn;
    }
    i {
      vertical-align: middle;
    }
  }
}
&-right {
  width: 30%;
  padding-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-play {
    @include playCircle;
    @include flex;
    justify-content: center;
    align-items: center;
    i {
      color:$colorBlue;
    }
    &:hover i {
      color: $colorOrange;
    }
  }
}
}
.main{
  &-top{
    height: 980px;
    width: $full_width;
    background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
  .container{
    @include widthContainer;
    @include flex;
    justify-content:space-between;
    .boxImg{
      @include flex;
      width: 350px;
      border-radius: 4px 4px 40px 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      padding-left: 30px;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(-15%);
      transition: 0.4s;
      &:hover {
       transform: scale(1.1) translateY(-15%);;
      }
      img {
            width: 50px;
      }
      h5 {
        font-size: 35px;
        font-weight: 500;
        color: $primary_textcolor;
      }
      span {
        font-size: 25px;
        font-weight: 500;
        color: $colorYellow;
        margin-bottom: 45px;
      }
    }
  }
  &-description {
    margin: 0 190px;
   @include flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding-top: 60px;
      font-size: 48px;
      font-weight: 500;
      color: $primary_textcolor;
      text-align: center;
      line-height: 1.4;
    }
    img {
      width: 85px;
    }
    ul {
      @include listInline;
      li {
        padding:0 10px;
        font-size: 22px;
        color: $primary_textcolor;
        &:first-child {
          img {
            width: 70px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        &:last-child {
          opacity: 0.6;
        }
      }
    }
  }
}
&-center {
  height: 700px;
  background-color: $primary_textcolor;
  @include flex;
  &-left {
    height: 100%;
    width: 50%;
    position: relative;
    img {
      position: absolute;
      object-position: center;
      object-fit: cover;
      height: 770px;
      width: 660px;
      transform: translateY(-8%);
    }
    &-play {
      @include playCircle;
      @include centered;
      @include flex;
      justify-content: center;
      align-items: center;
      i {
        color:$colorBlue;
      }
      &:hover i {
        color: $colorOrange;
      }
    }
  }
    &-right {
      height: 100%;
      width: 50%;
      padding: 100px 50px 100px  100px;
      p:first-child {
        font-size: 28px;
        color: $colorBlue;
        font-weight: 500;
        margin-bottom: 40px;
      }
      h2 {
      font-size: 60px;
      font-weight: 500;
      }
      .youtube {
        display:flex;
        padding: 30px 0;
        img {
          height: 50px;
          padding-right: 10px;
        }
        p {
          font-size: 13px;
          color: $primary_bgcolor;
          margin: 0;
        }
        .left{
        background-color: $colorRed;
        color: $primary_textcolor;
        padding: 2px;
        }
      }
      p {
        font-size: 23px;
        color: $colorSilver;
      }
      .red-button {
        @include redBtn;
        width: 320px;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        i {
          padding-left: 10px;
        }
      }

    }
}
// chiude main center
.main-bottom {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      @include flex;
      justify-content: space-between;
      font-size: 27px;
      font-weight: 500;
      p:last-child {
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        i {
          vertical-align: middle;
        }
        &:hover {
          color: $colorBlue;
        }
      }
    }
    .videos{
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      .video {
        @include flex;
        flex-direction: column;
        width: 380px;
        .photo {
          position:relative;
          .play{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: $primary_textcolor;
          @include centered;
          @include flex;
          justify-content: center;
          align-items: center;
          i {
            font-size:$font_size /2;
            color:$colorBlue;
          }
          &:hover i {
            color: $colorOrange;
          }
        }
        img {
          height: 230px;
          width: 360px;
          margin-top: 25px;
          border-radius: 4px 4px 40px 4px;
        }
      }
        h5 {
          font-size: 28px;
          font-weight: 500;
          padding: 25px 0 10px;
          text-align: center;
        }
        p {
          font-size: 20px;
          text-align: center;
          color: $colorBlue;
        }
      }
    }
  }
}


}
// chiude il main
.second-jumbotron {
  height: 660px;
  width: 100%;
  background-color: $colorGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/banner1-2x.jpg");
  background-position: top right ;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
    @include widthContainer;
    @include flex;
  }
}

.jumbotron-content {
  padding-right: 30%;
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h2 {
    font-size: 58px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-bottom: 30px;
    li {
      font-size: 18px;
    }
    input {
      padding: 15px 350px 15px 30px;
      border-radius: 40px;
      margin-right: 15px;
    }
    i {
      vertical-align: middle;
    }
  }
}

.products{
  height: 720px;
  background-color: $colorGrey;
  .container {
    @include widthContainer;
    @include flex;
    height: $full_height;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    height: 540px;
    width: 360px;
    border: 4px solid $colorBlue;
    border-radius: 8px;
    text-align: center;
    color: $primary_textcolor;
    font-weight: 500;
    padding: 0 45px;
    i{
      font-size: 50px;
      padding-top: 75px;
    }
    h4 {
      font-size: 30px;
      font-weight: 500;
      padding-top: 35px;

    }
    h5 {
      font-size: 24px;
      font-weight: 500;
      padding-top: 15px;
      color: $colorYellow;
    }
    p {
      font-weight: 400;
      line-height: 1.8;
      padding-top: 25px;
      color: $colorSilver;
      &:last-child {
        font-weight: 500;
        color: $primary_textcolor;
        i {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}

.latest-articles {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      @include flex;
      justify-content: space-between;
      font-size: 27px;
      font-weight: 500;
      p:last-child {
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        i {
          vertical-align: middle;
        }
        &:hover {
          color: $colorBlue;
        }
      }
    }
    .articles{
      @include flex;
      cursor: pointer;
      .article {
        @include flex;
        flex-direction: column;
        width: 380px;
        img {
          height: 230px;
          width: 360px;
          margin-top: 25px;
      }
        h5 {
          padding:20px 10px 10px;
          font-size: 28px;
          font-weight: 500;
        }
        ul {
          @include listInline;
          padding:0 10px;
          li {
            color:$primary_bgcolor;
            font-size: 18px;
            span{
              color: $colorSilver;
            }
          }
        }
      }
    }
  }
}

.third-jumbotron {
  height: 730px;
  padding: 0 300px;
  background-image: linear-gradient(180deg, rgba(0,2,17,0.16) 0%,$primary_bgcolor 100%),url("../img/banner2-2x.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 60px;
    font-weight: 500;
    color: $primary_textcolor;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 23px;
    font-weight: 400;
    color: $primary_textcolor;
  }
  a {
    display:block;
    width: 230px;
    margin-top: 40px;
    font-size: 18px;
  }
}

.offers {
  height: 600px;
  .container {
    @include flex;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      text-align: center;
      width:25%;
      img {
        margin:0 auto;
        display:block;
        width: 85px;
        filter: invert(80%);
      }
      img:first-child{
        width:150px;
        height:auto;
        filter: none;
      }
      p {
        color: gray;
        font-size: 18px;
        padding: 0 35px;
        line-height: 1.5;
      }
      a{
        display:inline-block;
        font-weight: 500;
        padding-top: 45px;
        font-size: 18px;
        color:$primary_bgcolor;
        i {
          vertical-align: middle;
        }
      }
    }

}
}
.final-jumbotron{
  @include flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  height:530px;
  background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
background-image: linear-gradient(151deg,rgba(6, 25, 231, 0.4) 35%, rgba(206,1, 18, 0.4) 100%), url('../img/banner14-2x.jpg');
.play{
  @include playCircle;
  @include flex;
  justify-content: center;
  align-items: center;
  i {
    color:$colorBlue;
  }
  &:hover i {
    color: $colorOrange;
  }
}
h1{
  padding:20px 0;
}
h1,a{
  color:$primary_textcolor;
}
h2{
  color:$colorYellow;
}
}

footer{
    background-color:$colorGrey;
  .container {
    @include widthContainer;
  color:white;
  .footer-top {
    width:100%;
      height: 500px;
   padding-top:140px;
  @include flex;
  justify-content: center;
  div{
    width:33%;
    @include flex;
    flex-direction:  column;
    align-items:center;
    text-align: center;

  }
  .brand-section{
          p {
            padding-top: 40px;
            font-size: 20px;
            text-align: center;
            color: $primary_textcolor;
          }
          ul {
            @include listInline;
            padding-top: 40px;
            li {
              padding: 10px;
              color: $colorOrange;
            }
          }
        }

            .recent-posts {
              width: 370px;
              color: $primary_textcolor;
              h6 {
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
              }
              ul {
                text-align: center;
                li {
                    font-size: 20px;
                    padding-top: 32px;
                }
                li:hover {
                  color: $colorOrange;
                }
              }
            }
            .contact-informations {
              width: 370px;
              color: $primary_textcolor;
              h6 {
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
              }
              ul {
                text-align: center;
                li {
                    font-size: 20px;
                    &:first-child {
                      padding: 32px 0;
                    }
                }
              }
            }
          }


  }
  .footer-bottom {
    height: 100px;
    border-top: 1px solid $colorSilver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ul {
      @include listInline;
      color: $colorSilver;
      span {
        color: $primary_textcolor;
        &:hover {
          color: $colorOrange;
        }
      }
    }
  }
}

// chiusura wrapper
}
