@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/jumbotrons";
@import "partials/main";
@import "partials/sections";
@import "partials/footer";

@include animations-keyframes;
@include data-inviewport;

.fadeIn {
  @include fade-in;
  position: relative;
}

.fadeOut {
  @include fade-out;
  position: relative;
}

.fade {
  @include fade;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
}

ul li {
  list-style: none;
}
body {
  font-family:$font_family;
  font-size: $font_size;
}
.charger{
  position:fixed;
  top:0;
  z-index:3;
  width:$full_width;
  height:$full_height;
  background-color: $primary_bgcolor;

  i {
    @include centered;
    @include rotate;
    position:absolute;
    color:$primary_textcolor;
    font-size: $font_size * 8;
    z-index:4;

  }
}

.wrapper{
  width:$full_width;
  height:$full_height;
  max-width:100vw;
}

.popup{
  position:fixed;
  top:200px;
  right:15px;
  div{
    @include flex;
    overflow: hidden;
    box-shadow:2px 2px 10px $colorSilver;
    left:0;
    right:0;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:65px;
    margin-bottom: 10px;
    height:65px;
    cursor:pointer;
    background-color: #fff;
    border-radius:5px;
    p{padding-top: 4px;
      font-size: 13px;

    }
  }
}

#scrollTopButton{
  cursor:pointer;
  padding:6px 20px;
  border-radius:7px 7px 0 0 ;
  color:$primary_textcolor;
  background-color: $colorGrey;
  position:fixed;
  bottom:0;
  right:100px;
  &:hover{
    background-color: $colorBlue;
  }
}
