@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family:$font_family;
  font-size: $font_size;
}
.charger{
  position:absolute;
  z-index:3;
  width:$full_width;
  height:$full_height;
  background-color: $primary_color;

  i {
  position:absolute;
  color:$primary_textcolor;
  font-size: $font_size * 8;
  z-index:4;

@include centered;
@include rotate;
}
}

.wrapper{
  width:$full_width;
  height:$full_height;
  max-width:100vw;

// inizio header
  header {
    height: 100px;
    width: 100%;
    padding:10px;
    background-color: $colorCodGrey;
  @include flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    img {
      margin-left: 20px;
    }
  }

  .header-right {
 @include flex;
    ul:first-child {
      padding-top: 11px;
    }
    ul {
      @include listInline;
      li {
        margin: 20px;
        a {
          text-decoration: none;
          color: $colorSilver;
          font-weight: 500;
          &:hover{
            color: $colorWhite;
          }
        }
        span {
          padding: 5px 7px;
          margin-left: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $colorCodGrey;
          background-color: $colorYellow;
        }
      }
    }
  }
  .blue-button {
    @include blueBtn;
    font-size: 14px;
  }
// inizio jumbotron
.jumbotron {
  height: 630px;
  width: 100%;
  background-color: $colorCodGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/slider82x-scaled.jpg");
  background-position: top right ;
  background-size: cover;
  .container{
    @include widthContainer;
    @include flex;
  }

&-left {
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: $colorWhite;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-top: 30px;
    li {
      font-size: 18px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .trasparent-button {
      @include trasparentBtn;
    }
    i {
      vertical-align: middle;
    }
  }
}
&-right {
  width: 30%;
  padding-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-play {
    @include playCircle;
    @include flex;
    justify-content: center;
    align-items: center;
    i {
      color:$colorViolet;
    }
    &:hover i {
      color: $colorOrange;
    }
  }
}
}
.main{
  &-top{
    height: 980px;
    width: $full_width;
    background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
  .container{
    @include widthContainer;
    @include flex;
    justify-content:space-between;
    .boxImg1,.boxImg2,.boxImg3{
      @include flex;
      width: 350px;
      border-radius: 4px 4px 40px 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      padding-left: 30px;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(-15%);
    }
    .boxImg1{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box1.jpg");
    }
    .boxImg2{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box2.jpg");
    }
    .boxImg3{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box3.jpg");
    }
  }
  &-description {
    margin: 0 190px;
   @include flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding-top: 60px;
      font-size: 48px;
      font-weight: 500;
      color: $colorWhite;
      text-align: center;
      line-height: 1.4;
    }
    img {
      width: 85px;
    }
    ul {
      @include listInline;
      li {
        padding:0 10px;
        font-size: 22px;
        color: $colorWhite;
        &:first-child {
          img {
            width: 70px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        &:last-child {
          opacity: 0.6;
        }
      }
    }
  }
}
&-center {
  height: 700px;
  background-color: $colorWhite;
  @include flex;
  &-left {
    height: 100%;
    width: 50%;
    position: relative;
    img {
      position: absolute;
      object-position: center;
      object-fit: cover;
      height: 770px;
      width: 660px;
      transform: translateY(-8%);
    }
    &-play {
      @include playCircle;
      @include centered;
      @include flex;
      justify-content: center;
      align-items: center;
      i {
        color:$colorViolet;
      }
      &:hover i {
        color: $colorOrange;
      }
    }
  }
    &-right {
      height: 100%;
      width: 50%;
      padding: 100px 50px 100px  100px;
      p:first-child {
        font-size: 28px;
        color: $colorViolet;
        font-weight: 500;
        margin-bottom: 40px;
      }
      h2 {
      font-size: 60px;
      font-weight: 500;
      }
      .youtube {
        display:flex;
        padding: 30px 0;
        img {
          height: 50px;
          padding-right: 10px;
        }
        p {
          font-size: 13px;
          color: $colorBlack;
          margin: 0;
        }
        .left{
        background-color: $colorRed;
        color: $colorWhite;
        padding: 2px;
        }
      }
      p {
        font-size: 23px;
        color: $colorSilver;
      }
      .red-button {
        @include redBtn;
        width: 320px;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        i {
          padding-left: 10px;
        }
      }

    }
}
// chiude main center
.main-bottom {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      @include flex;
      justify-content: space-between;
      font-size: 27px;
      font-weight: 500;
      p:last-child {
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        i {
          vertical-align: middle;
        }
        &:hover {
          color: $colorViolet;
        }
      }
    }
    .videos{
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      .video {
        @include flex;
        flex-direction: column;
        width: 380px;
        .photo {
          position:relative;
          .play{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: $colorWhite;
          @include centered;
          @include flex;
          justify-content: center;
          align-items: center;
          i {
            font-size:$font_size /2;
            color:$colorViolet;
          }
          &:hover i {
            color: $colorOrange;
          }
        }
        img {
          height: 230px;
          width: 360px;
          margin-top: 25px;
          border-radius: 4px 4px 40px 4px;
        }
      }
        h5 {
          font-size: 28px;
          font-weight: 500;
          padding: 25px 0 10px;
          text-align: center;
        }
        p {
          font-size: 20px;
          text-align: center;
          color: $colorViolet;
        }
      }
    }
  }
}


}
// chiude il main
.second-jumbotron {
  height: 660px;
  width: 100%;
  background-color: $colorCodGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/banner1-2x.jpg");
  background-position: top right ;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
    @include widthContainer;
    @include flex;
  }
}

.jumbotron-content {
  padding-right: 30%;
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h2 {
    font-size: 58px;
    font-weight: 500;
    color: $colorWhite;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-bottom: 30px;
    li {
      font-size: 18px;
    }
    input {
      padding: 15px 350px 15px 30px;
      border-radius: 40px;
      margin-right: 15px;
    }
    i {
      vertical-align: middle;
    }
  }
}

.products{
  height: 720px;
  background-color: $colorCodGrey;
  .container {
    @include widthContainer;
    @include flex;
    height: $full_height;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    height: 540px;
    width: 360px;
    border: 4px solid $colorViolet;
    border-radius: 8px;
    text-align: center;
    color: $colorWhite;
    font-weight: 500;
    padding: 0 45px;
    i{
      font-size: 50px;
      padding-top: 75px;
    }
    h4 {
      font-size: 30px;
      font-weight: 500;
      padding-top: 35px;

    }
    h5 {
      font-size: 24px;
      font-weight: 500;
      padding-top: 15px;
      color: $colorYellow;
    }
    p {
      font-weight: 400;
      line-height: 1.8;
      padding-top: 25px;
      color: $colorSilver;
      &:last-child {
        font-weight: 500;
        color: $colorWhite;
        i {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}


.latest-articles {
  height: 600px;
  .container {
    @include widthContainer;
    padding-top: 90px;
    padding-bottom: 90px;
    div {
      @include flex;
      justify-content: space-between;
      font-size: 27px;
      font-weight: 500;
      p:last-child {
        padding-right: 15px;
        font-size: 18px;
        cursor: pointer;
        i {
          vertical-align: middle;
        }
        &:hover {
          color: $colorViolet;
        }
      }
    }
    .articles{
      @include flex;
      cursor: pointer;
      .article {
        @include flex;
        flex-direction: column;
        width: 380px;
        img {
          height: 230px;
          width: 360px;
          margin-top: 25px;
      }
        h5 {
          padding:20px 10px 10px;
          font-size: 28px;
          font-weight: 500;
        }
        ul {
          @include listInline;
          padding:0 10px;
          li {
            color:$primary_color;
            font-size: 18px;
            span{
              color: $colorSilver;
            }
          }
        }
      }
    }
  }
}
// chiusura wrapper
}
