@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family:$font_family;
  font-size: $font_size;
}
.charger{
  position:absolute;
  z-index:3;
  width:$full_width;
  height:$full_height;
  background-color: $primary_color;

  i {
  position:absolute;
  color:$primary_textcolor;
  font-size: $font_size * 8;
  z-index:4;

@include centered;
@include rotate;
}
}

.wrapper{
  width:$full_width;
  height:$full_height;
  max-width:100vw;

// inizio header
  header {
    height: 100px;
    width: 100%;
    padding:10px;
    background-color: $colorCodGrey;
  @include flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    img {
      margin-left: 20px;
    }
  }

  .header-right {
 @include flex;
    ul:first-child {
      padding-top: 11px;
    }
    ul {
      @include listInline;
      li {
        margin: 20px;
        a {
          text-decoration: none;
          color: $colorSilver;
          font-weight: 500;
          &:hover{
            color: $colorWhite;
          }
        }
        span {
          padding: 5px 7px;
          margin-left: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $colorCodGrey;
          background-color: $colorYellow;
        }
      }
    }
  }
  .blue-button {
    @include blueBtn;
    font-size: 14px;
  }
// inizio jumbotron
.jumbotron {
  height: 630px;
  width: 100%;
  background-color: $colorCodGrey;
  background-image: linear-gradient(90deg, #060606 45%,rgba(6,6,6,0) 75%),  url("../img/slider82x-scaled.jpg");
  background-position: top right ;
  background-size: cover;
  .container{
    @include widthContainer;
    @include flex;
  }

&-left {
  h3 {
    padding-top:100px;
    font-size: 27px;
    font-weight: 500;
    color: $colorOrange;
  }
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: $colorWhite;
  }
  img {
    width: 85px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    color: $colorSilver;
  }
  ul {
    @include listInline;
    margin-top: 30px;
    li {
      font-size: 18px;
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
    .trasparent-button {
      @include trasparentBtn;
    }
    i {
      vertical-align: middle;
    }
  }
}
&-right {
  width: 30%;
  padding-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-play {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color:$colorViolet;
    }
    &:hover i {
      color: $colorOrange;
    }
  }
}
}
.main{
  &-top{
    height: 900px;
    width: $full_width;
    background-image: linear-gradient(150deg, #0219eb 0%, #d5000b 100%);
  .container{
    @include widthContainer;
    @include flex;
    justify-content:space-between;
    .boxImg1,.boxImg2,.boxImg3{
      @include flex;
      width: 350px;
      border-radius: 4px 4px 40px 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      padding-left: 30px;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(-15%);
    }
    .boxImg1{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box1.jpg");
    }
    .boxImg2{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box2.jpg");
    }
    .boxImg3{
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 11%, rgba(0,0,0,0.7) 100%), url("../img/box3.jpg");
    }
  }
  &-description {
    margin: 0 190px;
   @include flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding-top: 60px;
      font-size: 48px;
      font-weight: 500;
      color: $colorWhite;
      text-align: center;
      line-height: 1.4;
    }
    img {
      width: 85px;
    }
    ul {
      @include listInline;
      li {
        padding:0 10px;
        font-size: 22px;
        color: $colorWhite;
        &:first-child {
          img {
            width: 70px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        &:last-child {
          opacity: 0.6;
        }
      }
    }
  }
}
}

}
